.Banner{
  margin: 0.5vw;
  padding: 0vw 2vw 0vw 2vw;
  text-align: center;
  font-weight: bold;
  font-size: 1.75vw;
  color: #DCD7C9;
  background-color: #3F4E4F;
  border: 0.25px solid white;
  border-radius: 20px;
  justify-items: normal;
}

.exhibit{
  float: none;
  margin: 10px;
  padding: 0px 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #DCD7C9;
  background-color: #2C3639;
  border: 01px solid #2C3639;
  border-radius: 2vw;
}

.exhibitInfo{
  margin: 5px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  color: #DCD7C9;
  background-color: #A27B5C;
  /* border: 0.25vw; */
  border-radius: 5px;
}